.Home{
  min-width: 300px;
  width:80%;
  height: 100%;
}
.Home-logo {
  border-radius: 50%;
  width:200px;
  height: 200px;
}

.Home-header {
  min-height: 20%;
  padding: 20px;

}
.Home-header p{
    margin: 0;
    padding: 0;
    font-size: 1.05rem;
}


.title-main {
    font-size: 1.5em;
    border-bottom: 1px solid rgba(21,21,21, .3);padding-bottom: 0.6em;
}

.App-intro {
  font-size: large;
}


.list-group{
    max-height: 530px;
    overflow-y: auto;
}
.list-group-item .alert-link{
    padding-right: 15px;
}
.list-group-item .badge{
    margin-left: 5px;
}
.nav-link{
    cursor:pointer;
}


th>.form-control{
    width: 150px;
    display: inline;
    margin: 0 0 0 5px;
    height: 30px !important;
}

.form-control > option{
    height: 20px !important;
}
.submit-form{
    padding: 10px;
    margin-bottom: 50px;
}
.or{
    width: 100%;
    text-align: center;
}
h4{
    display: inline;
     margin: 2% 0 0 0 ;
    padding: 0;
    font-size: 1em;
}

.table-wrap, .list-group{
    margin-bottom: 50px !important;
}
.table-wrap{
    overflow: auto;
    max-height: 400px;
}
th label{
    margin-bottom: 0;
}
.clickable-link{
    cursor: pointer;
    color: #0056b3;
}
.clickable-link:hover{
    text-decoration: underline;

}

/*CHECKMARK STYLES*/
.checkmark {
    border-radius: 2px;
    height: 18px;
    width: 18px;
    border: 1px solid #DDDEDE;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    transition-duration: .3s;
}

.checkmark-label {
    display: flex;
    align-items: center;
}

.checkmark-label input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.checkmark-label input:checked ~ .checkmark {
    border: 1px solid #007bff;
    height: 18px;
    width: 18px;
}

.checkmark-label input.error ~ .checkmark {
    border: 1px solid red;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-label input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 5px;
    top: 0;
    width: 5px;
    height: 13px;
    border: solid #007bff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*CHECKMARK STYLES END*/

.deletable{
    border-radius: 10px;
    color: #233551;
    background-color: #b9d8ff;
    max-width: 250px;
    font-size: 13pt;
    text-overflow: ellipsis;
    padding: 0 3%;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deletable .delete-circle{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-sizing: content-box;
    background-color: #ff8c93;
    color: white !important;
    padding: 2px;
}
.course-teacher-select.form-control{
    font-size: 0.8rem;
}
.course-admin-btns{
    margin-left: 10px;
}
.course-admin-btns div{
    margin:  0 5px;
}
td, th{
    border-top: none !important;
}
.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}
.nav-tabs>li {
    float: none;
}
.modal-dialog{
    max-width: 940px !important;
}
.q-area{
    padding: 3%;
}