@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
body, html, #root{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1rem;
  height: 100%;
  width: 100vw;
  overflow: visible;
}

@media screen and (min-width: 640px) {
  body, html, #root{
    overflow-x: hidden;
  }
}
h2.title-main{
  width: 100%;
  margin: 2% 0;
  text-align: center;
}

html {
  overflow-y: scroll;
}